<div class="card">
  <div class="card-body">
    <h2 class="card-title h5">{{ hackathon().nome }}</h2>
    <p class="card-text">
      Dal {{ hackathon().dataInizio }}
      al {{ hackathon().dataFine }}
    </p>
    <p class="card-text">Luogo: {{ hackathon().luogo }}</p>
    <p class="card-text">Premio: {{ hackathon().premio }} €</p>
    <p class="card-text">{{hackathon().regolamento}}</p>
    <p class="card-text">Scadenza iscrizioni : {{hackathon().scadenzaIscrizioni}}</p>
    <p class="card-text">Posti rimanenti: {{hackathon().postiRimanenti}}</p>

    <span class="badge" [ngClass]="classeStato(hackathon().stato)">
      {{ formattaStato(hackathon().stato) }}
    </span>
  </div>
  <div class="card-footer bg-transparent">
    <a class="btn btn-primary" [routerLink]="['/hackathons', hackathon().id]">
      Visualizza dettagli
    </a>
  </div>
</div>